.navbar{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    padding: 10px;
}


.product-card{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

}
.product{
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    text-align: center;
    margin: 10px;
}

.product img{
    width: 100px;
}

























